﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u1 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1032px;
  width:1080px;
  height:94px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
}
#u3 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:824px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:824px;
}
#u5 {
  position:absolute;
  left:2px;
  top:404px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:328px;
  width:20px;
  height:16px;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:20px;
  top:368px;
  width:20px;
  height:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:20px;
  top:424px;
  width:20px;
  height:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:20px;
  top:474px;
  width:20px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:20px;
  top:524px;
  width:20px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:20px;
  top:578px;
  width:20px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:20px;
  top:628px;
  width:20px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:20px;
  top:684px;
  width:20px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:20px;
  top:734px;
  width:20px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:20px;
  top:788px;
  width:20px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:20px;
  top:838px;
  width:20px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:20px;
  top:894px;
  width:20px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:20px;
  top:944px;
  width:20px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:20px;
  top:994px;
  width:20px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:395px;
  top:284px;
  width:36px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34_input {
  font-family:'應用字體';
}
#u35 {
  position:absolute;
  left:349px;
  top:284px;
  width:36px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35_input {
  font-family:'應用字體';
}
#u36 {
  position:absolute;
  left:439px;
  top:284px;
  width:36px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'應用字體';
}
#u37 {
  position:absolute;
  left:485px;
  top:284px;
  width:36px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'應用字體';
}
#u38 {
  position:absolute;
  left:181px;
  top:284px;
  width:160px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'應用字體';
}
#u39 {
  position:absolute;
  left:20px;
  top:284px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:86px;
  top:464px;
  width:824px;
  height:390px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:390px;
}
#u42 {
  position:absolute;
  left:2px;
  top:187px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:190px;
  top:600px;
  width:278px;
  height:213px;
  overflow:hidden;
}
#u43_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:213px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:170px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'應用字體';
}
#u47 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'應用字體';
}
#u48 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:213px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:170px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52_input {
  font-family:'應用字體';
}
#u53 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55_input {
  font-family:'應用字體';
}
#u56 {
  position:absolute;
  left:522px;
  top:601px;
  width:278px;
  height:213px;
  overflow:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:213px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:170px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59_input {
  font-family:'應用字體';
}
#u60 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u60_input {
  font-family:'應用字體';
}
#u61 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:213px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:43px;
  width:270px;
  height:167px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:167px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65_input {
  font-family:'應用字體';
}
#u66 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u66_input {
  font-family:'應用字體';
}
#u67 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:475px;
  top:673px;
  width:42px;
  height:29px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:475px;
  top:716px;
  width:42px;
  height:29px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:800px;
  top:824px;
  width:100px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u73_input {
  font-family:'應用字體';
}
#u74 {
  position:absolute;
  left:100px;
  top:548px;
  width:13px;
  height:16px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:974px;
  top:368px;
  width:36px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u76_input {
  font-family:'應用字體';
}
#u77 {
  position:absolute;
  left:974px;
  top:420px;
  width:36px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u77_input {
  font-family:'應用字體';
}
#u78 {
  position:absolute;
  left:974px;
  top:470px;
  width:36px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u78_input {
  font-family:'應用字體';
}
#u79 {
  position:absolute;
  left:974px;
  top:524px;
  width:36px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u79_input {
  font-family:'應用字體';
}
#u80 {
  position:absolute;
  left:974px;
  top:574px;
  width:36px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u80_input {
  font-family:'應用字體';
}
#u81 {
  position:absolute;
  left:974px;
  top:624px;
  width:36px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u81_input {
  font-family:'應用字體';
}
#u82 {
  position:absolute;
  left:974px;
  top:680px;
  width:36px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u82_input {
  font-family:'應用字體';
}
#u83 {
  position:absolute;
  left:974px;
  top:730px;
  width:36px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u83_input {
  font-family:'應用字體';
}
#u84 {
  position:absolute;
  left:974px;
  top:784px;
  width:36px;
  height:25px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u84_input {
  font-family:'應用字體';
}
#u85 {
  position:absolute;
  left:974px;
  top:834px;
  width:36px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85_input {
  font-family:'應用字體';
}
#u86 {
  position:absolute;
  left:974px;
  top:885px;
  width:36px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u86_input {
  font-family:'應用字體';
}
#u87 {
  position:absolute;
  left:974px;
  top:940px;
  width:36px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u87_input {
  font-family:'應用字體';
}
#u88 {
  position:absolute;
  left:974px;
  top:990px;
  width:36px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u88_input {
  font-family:'應用字體';
}
#u90 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u90_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u93 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u95 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u97 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u99 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u101 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u103 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u105 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u107 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u109 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u111 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:531px;
  top:284px;
  width:36px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u112_input {
  font-family:'應用字體';
}
