﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:690px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:690px;
}
#u1 {
  position:absolute;
  left:2px;
  top:337px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u3 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u5_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:80px;
  top:265px;
  width:180px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27_input {
  font-family:'應用字體';
}
#u28 {
  position:absolute;
  left:343px;
  top:265px;
  width:130px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28_input {
  font-family:'應用字體';
}
#u29 {
  position:absolute;
  left:493px;
  top:265px;
  width:47px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29_input {
  font-family:'應用字體';
}
#u30 {
  position:absolute;
  left:904px;
  top:335px;
  width:68px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30_input {
  font-family:'應用字體';
}
#u31 {
  position:absolute;
  left:982px;
  top:335px;
  width:68px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31_input {
  font-family:'應用字體';
}
#u32 {
  position:absolute;
  left:904px;
  top:375px;
  width:68px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32_input {
  font-family:'應用字體';
}
#u33 {
  position:absolute;
  left:982px;
  top:375px;
  width:68px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33_input {
  font-family:'應用字體';
}
#u34 {
  position:absolute;
  left:904px;
  top:415px;
  width:68px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34_input {
  font-family:'應用字體';
}
#u35 {
  position:absolute;
  left:982px;
  top:415px;
  width:68px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35_input {
  font-family:'應用字體';
}
#u36 {
  position:absolute;
  left:904px;
  top:460px;
  width:68px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'應用字體';
}
#u37 {
  position:absolute;
  left:982px;
  top:460px;
  width:68px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'應用字體';
}
#u38 {
  position:absolute;
  left:904px;
  top:500px;
  width:68px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'應用字體';
}
#u39 {
  position:absolute;
  left:982px;
  top:500px;
  width:68px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39_input {
  font-family:'應用字體';
}
#u40 {
  position:absolute;
  left:904px;
  top:540px;
  width:68px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40_input {
  font-family:'應用字體';
}
#u41 {
  position:absolute;
  left:982px;
  top:540px;
  width:68px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41_input {
  font-family:'應用字體';
}
#u42 {
  position:absolute;
  left:904px;
  top:580px;
  width:68px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42_input {
  font-family:'應用字體';
}
#u43 {
  position:absolute;
  left:982px;
  top:580px;
  width:68px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43_input {
  font-family:'應用字體';
}
#u44 {
  position:absolute;
  left:904px;
  top:620px;
  width:68px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44_input {
  font-family:'應用字體';
}
#u45 {
  position:absolute;
  left:982px;
  top:620px;
  width:68px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45_input {
  font-family:'應用字體';
}
#u46 {
  position:absolute;
  left:904px;
  top:660px;
  width:68px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'應用字體';
}
#u47 {
  position:absolute;
  left:982px;
  top:660px;
  width:68px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'應用字體';
}
#u48 {
  position:absolute;
  left:904px;
  top:700px;
  width:68px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48_input {
  font-family:'應用字體';
}
#u49 {
  position:absolute;
  left:982px;
  top:700px;
  width:68px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49_input {
  font-family:'應用字體';
}
#u50 {
  position:absolute;
  left:904px;
  top:740px;
  width:68px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50_input {
  font-family:'應用字體';
}
#u51 {
  position:absolute;
  left:982px;
  top:740px;
  width:68px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51_input {
  font-family:'應用字體';
}
#u52 {
  position:absolute;
  left:904px;
  top:785px;
  width:68px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52_input {
  font-family:'應用字體';
}
#u53 {
  position:absolute;
  left:982px;
  top:785px;
  width:68px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53_input {
  font-family:'應用字體';
}
#u54 {
  position:absolute;
  left:904px;
  top:825px;
  width:68px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54_input {
  font-family:'應用字體';
}
#u55 {
  position:absolute;
  left:982px;
  top:825px;
  width:68px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55_input {
  font-family:'應用字體';
}
#u56 {
  position:absolute;
  left:904px;
  top:865px;
  width:68px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56_input {
  font-family:'應用字體';
}
#u57 {
  position:absolute;
  left:982px;
  top:865px;
  width:68px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u57_input {
  font-family:'應用字體';
}
#u58 {
  position:absolute;
  left:0px;
  top:900px;
  width:1080px;
  height:90px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:90px;
}
#u59 {
  position:absolute;
  left:2px;
  top:37px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:10px;
  top:270px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:270px;
  top:270px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:120px;
  top:340px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:120px;
  top:380px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:120px;
  top:420px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:120px;
  top:464px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:120px;
  top:504px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:120px;
  top:544px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:120px;
  top:584px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:120px;
  top:624px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:120px;
  top:664px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:120px;
  top:704px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:120px;
  top:744px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:120px;
  top:790px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:120px;
  top:830px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:120px;
  top:870px;
  width:120px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#333333;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
