﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u1 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1032px;
  width:1080px;
  height:94px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
}
#u3 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:210px;
  width:1079px;
  height:156px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:156px;
}
#u5 {
  position:absolute;
  left:2px;
  top:70px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:366px;
  width:176px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:176px;
  top:366px;
  width:142px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:318px;
  top:366px;
  width:260px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:579px;
  top:366px;
  width:162px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:741px;
  top:366px;
  width:336px;
  height:23px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:23px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:389px;
  width:1080px;
  height:645px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:645px;
}
#u17 {
  position:absolute;
  left:2px;
  top:314px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:23px;
  top:328px;
  width:23px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:23px;
  top:368px;
  width:23px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:23px;
  top:424px;
  width:23px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:23px;
  top:474px;
  width:23px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:20px;
  top:524px;
  width:20px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:20px;
  top:578px;
  width:20px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:20px;
  top:628px;
  width:20px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:20px;
  top:684px;
  width:20px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:20px;
  top:734px;
  width:20px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:20px;
  top:788px;
  width:20px;
  height:16px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:20px;
  top:838px;
  width:20px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:20px;
  top:894px;
  width:20px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:20px;
  top:944px;
  width:20px;
  height:16px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:20px;
  top:994px;
  width:20px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:395px;
  top:284px;
  width:36px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'應用字體';
}
#u47 {
  position:absolute;
  left:349px;
  top:284px;
  width:36px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'應用字體';
}
#u48 {
  position:absolute;
  left:439px;
  top:284px;
  width:36px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48_input {
  font-family:'應用字體';
}
#u49 {
  position:absolute;
  left:485px;
  top:284px;
  width:36px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49_input {
  font-family:'應用字體';
}
#u50 {
  position:absolute;
  left:181px;
  top:284px;
  width:160px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50_input {
  font-family:'應用字體';
}
#u51 {
  position:absolute;
  left:20px;
  top:284px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:457px;
  top:365px;
  width:399px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53_input {
  font-family:'應用字體';
}
#u55 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u55_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u72 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:531px;
  top:284px;
  width:36px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u77_input {
  font-family:'應用字體';
}
