﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u1 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:978px;
  width:1080px;
  height:94px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
}
#u3 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:824px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:824px;
}
#u5 {
  position:absolute;
  left:2px;
  top:404px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:274px;
  width:20px;
  height:16px;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:20px;
  top:314px;
  width:20px;
  height:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:20px;
  top:370px;
  width:20px;
  height:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:20px;
  top:420px;
  width:20px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:20px;
  top:470px;
  width:20px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:20px;
  top:524px;
  width:20px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:20px;
  top:574px;
  width:20px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:20px;
  top:630px;
  width:20px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:20px;
  top:680px;
  width:20px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:20px;
  top:734px;
  width:20px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:20px;
  top:784px;
  width:20px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:20px;
  top:840px;
  width:20px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:20px;
  top:890px;
  width:20px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:20px;
  top:940px;
  width:20px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:395px;
  top:230px;
  width:36px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34_input {
  font-family:'應用字體';
}
#u35 {
  position:absolute;
  left:349px;
  top:230px;
  width:36px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35_input {
  font-family:'應用字體';
}
#u36 {
  position:absolute;
  left:439px;
  top:230px;
  width:36px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'應用字體';
}
#u37 {
  position:absolute;
  left:485px;
  top:230px;
  width:36px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'應用字體';
}
#u38 {
  position:absolute;
  left:181px;
  top:230px;
  width:160px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'應用字體';
}
#u39 {
  position:absolute;
  left:20px;
  top:230px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:73px;
  top:366px;
  width:860px;
  height:384px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:384px;
}
#u42 {
  position:absolute;
  left:2px;
  top:184px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:705px;
  width:70px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43_input {
  font-family:'應用字體';
}
#u44 {
  position:absolute;
  left:974px;
  top:314px;
  width:36px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44_input {
  font-family:'應用字體';
}
#u45 {
  position:absolute;
  left:974px;
  top:366px;
  width:36px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45_input {
  font-family:'應用字體';
}
#u46 {
  position:absolute;
  left:974px;
  top:416px;
  width:36px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'應用字體';
}
#u47 {
  position:absolute;
  left:974px;
  top:470px;
  width:36px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'應用字體';
}
#u48 {
  position:absolute;
  left:974px;
  top:520px;
  width:36px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48_input {
  font-family:'應用字體';
}
#u49 {
  position:absolute;
  left:974px;
  top:570px;
  width:36px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49_input {
  font-family:'應用字體';
}
#u50 {
  position:absolute;
  left:974px;
  top:626px;
  width:36px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50_input {
  font-family:'應用字體';
}
#u51 {
  position:absolute;
  left:974px;
  top:676px;
  width:36px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51_input {
  font-family:'應用字體';
}
#u52 {
  position:absolute;
  left:974px;
  top:730px;
  width:36px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52_input {
  font-family:'應用字體';
}
#u53 {
  position:absolute;
  left:974px;
  top:780px;
  width:36px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53_input {
  font-family:'應用字體';
}
#u54 {
  position:absolute;
  left:974px;
  top:831px;
  width:36px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54_input {
  font-family:'應用字體';
}
#u55 {
  position:absolute;
  left:974px;
  top:886px;
  width:36px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55_input {
  font-family:'應用字體';
}
#u56 {
  position:absolute;
  left:974px;
  top:936px;
  width:36px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56_input {
  font-family:'應用字體';
}
#u58 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u58_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u61 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u63 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u65 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u67 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u69 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u71 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u73 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u75 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u77 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u79 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:1032px;
  width:1080px;
  height:94px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
}
#u81 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:824px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:824px;
}
#u83 {
  position:absolute;
  left:2px;
  top:404px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:20px;
  top:328px;
  width:20px;
  height:16px;
}
#u85 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86 {
  position:absolute;
  left:20px;
  top:368px;
  width:20px;
  height:16px;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88 {
  position:absolute;
  left:20px;
  top:424px;
  width:20px;
  height:16px;
}
#u89 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90 {
  position:absolute;
  left:20px;
  top:474px;
  width:20px;
  height:16px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:20px;
  top:524px;
  width:20px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94 {
  position:absolute;
  left:20px;
  top:578px;
  width:20px;
  height:16px;
}
#u95 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96 {
  position:absolute;
  left:20px;
  top:628px;
  width:20px;
  height:16px;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98 {
  position:absolute;
  left:20px;
  top:684px;
  width:20px;
  height:16px;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:20px;
  top:734px;
  width:20px;
  height:16px;
}
#u101 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  position:absolute;
  left:20px;
  top:788px;
  width:20px;
  height:16px;
}
#u103 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  position:absolute;
  left:20px;
  top:838px;
  width:20px;
  height:16px;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  position:absolute;
  left:20px;
  top:894px;
  width:20px;
  height:16px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:20px;
  top:944px;
  width:20px;
  height:16px;
}
#u109 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  position:absolute;
  left:20px;
  top:994px;
  width:20px;
  height:16px;
}
#u111 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  position:absolute;
  left:395px;
  top:284px;
  width:36px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u112_input {
  font-family:'應用字體';
}
#u113 {
  position:absolute;
  left:349px;
  top:284px;
  width:36px;
  height:25px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u113_input {
  font-family:'應用字體';
}
#u114 {
  position:absolute;
  left:439px;
  top:284px;
  width:36px;
  height:25px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u114_input {
  font-family:'應用字體';
}
#u115 {
  position:absolute;
  left:485px;
  top:284px;
  width:36px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u115_input {
  font-family:'應用字體';
}
#u116 {
  position:absolute;
  left:181px;
  top:284px;
  width:160px;
  height:25px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u116_input {
  font-family:'應用字體';
}
#u117 {
  position:absolute;
  left:20px;
  top:284px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:73px;
  top:420px;
  width:860px;
  height:384px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:384px;
}
#u120 {
  position:absolute;
  left:2px;
  top:184px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:100px;
  top:759px;
  width:70px;
  height:25px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u121_input {
  font-family:'應用字體';
}
#u122 {
  position:absolute;
  left:531px;
  top:284px;
  width:36px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u122_input {
  font-family:'應用字體';
}
