﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:-10px;
  top:-30px;
  width:1080px;
  height:810px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:810px;
}
#u1 {
  position:absolute;
  left:2px;
  top:397px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:560px;
  top:354px;
  width:290px;
  height:30px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u2_input {
  font-family:'應用字體';
}
#u3 {
  position:absolute;
  left:560px;
  top:450px;
  width:300px;
  height:30px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3_input {
  font-family:'應用字體';
}
#u4 {
  position:absolute;
  left:550px;
  top:560px;
  width:130px;
  height:42px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:42px;
  text-align:center;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'應用字體';
}
#u5 {
  position:absolute;
  left:740px;
  top:560px;
  width:130px;
  height:42px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:42px;
  text-align:center;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5_input {
  font-family:'應用字體';
}
#u6 {
  position:absolute;
  left:598px;
  top:621px;
  width:225px;
  height:19px;
  font-size:16px;
  color:#FFFF00;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
