@charset "utf-8";
/* 網頁大小,字體大小對齊設定 */
body {
	width: auto;
	height: auto;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	text-align:center;
	font-size:12px;
    font-family:"微軟正黑體", Arial;
    color:#000000;
}
	/* 去邊框 */
.clean {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
	/* banner設定 */
#banner{
	width:auto;
	height:149px;
	text-align:center;
	}
	
	/* banner重複 */
#banner_r{
	background:url(../../images/n_istudy/banner_02.png);
	width:100%;
	height:149px;
	}
	
	/* banner重複顏色 */
#banner_r_c{
	width:100%;
	height:149px;
	background:#cbe4f7;
	}
	/* 內容_設定 */
#body_Login{
	width:auto;
	height:534px;
	text-align:center;
	background:#cbe4f7;
	}
	/* 內容_右邊說明重複 */
#body_right_r{
	width:50%;
	height:534px;
	background:#3489ca;
	}
	/* 內容_右邊說明重複 */
#body_right_r{
	width:50%;
	height:534px;
	background:#3489ca;
}
	/* Login_文字框設定 */
#login_number{
	width:269px;
	height:43px;
	text-align:center;
	background:url(../../images/n_istudy/L_number_02.png);
	}
	/* footer設定 */
#footer{
	width:auto;
	height:85px;
	text-align:center;
	}
	/* footer重複 */
#footer_r{
	width:50%;
	height:85px;
	background:#cbe4f7;
	text-align:center;
	}
	/* 登入按鈕_背景 */
#button_bg{
	width:636px;
	height:190px;
	background:url(../../images/n_istudy/L_03_top.png);
	text-align:center;
	}
	/* 系統總覽中間白色_背景 */
#system_bg{
	width:100%;
	background:#FFFFFF;
	text-align:center;
	}
#system_bg_ts{
	width:auto;
	background:#FFFFFF;
	text-align:center;
	}
	/*按鈕重複 */
#bt_r{
	width:100%;
	height:60px;
	background:url(../../images/n_istudy/btw_07.png)
	}
	/* 管理xx中間白色_背景 */
#Management_bg{
	width:100%;
	height:414px;
	background:#FFFFFF;
	}
	/* 管理xx標題重複 */
#title_r{
	width:100%;
	height:60px;
	background:#FFFFFF;
	}
#system_text{
	text-align:left;
	font-size:14px;
	color:#373737;
	font-family:"微軟正黑體", Arial;
}

.menu a.selected{background-image:url(../../images/n_istudy/bto_02.png)}
.controller{background-color:#FFFFFF;padding:5px 20px}
	
.main{min-height: 425px}
.main .login{width:685px;height:385px;margin:0 auto;padding:40px 0;background-image:url(../../images/login.gif);background-position:center center;background-repeat:no-repeat}
.main .login form{margin-left:410px;margin-top:80px}
.main .login .message{font-size:16px;margin-top:15px;color:#FFFFFF}
.main .title{color:#1D1D1B;background-color:#ffffff;font-size:24px;padding:10px 20px}

.main .gridview table{width:100%;color:#1D1D1B;background-color:#B3B3B3;border:solid 1px #1D1D1B}
.main .gridview th,.main .gridview td{font-size:12px;padding:5px}
.main .gridview th{background-color:#E6E6E6;text-align:center}
.main .gridview td{background-color:#FFFFFF}

.main .summary-wrapper{background-color:#FFFFFF;padding:20px}
.main .summary{height:385px;margin:0 auto}
.main .summary .title{color:#FFFFFF;background-color:transparent;font-weight:bold;font-size:20px;margin-left:0px;padding-top:43px}
.main .summary .description{font-size:16px;margin-left:0px}

.main .group-wrapper .title{background-image:url(../../images/n_istudy/ss_class_title.png);background-repeat:no-repeat;height:60px;padding:0}
.main .student-wrapper .title{background-image:url(../../images/n_istudy/strdent_title.png);background-repeat:no-repeat;height:60px;padding:0}
.main .file-wrapper .title{background-image:url(../../images/n_istudy/file_title.png);background-repeat:no-repeat;height:60px;padding:0}
.main .course-wrapper .title{background-image:url(../../images/n_istudy/course_title.png);background-repeat:no-repeat;height:60px;padding:0}
.main .operators_view .title{background-image:url(../../images/n_istudy/teacher_title.png);background-repeat:no-repeat;height:60px;padding:0}

.subform{width:850px;height:380px;text-align:left;border:solid 1px #1D1D1B;padding:5px;background-color:#FFFFFF}
.subform .title{font-size:20px;color:#1D1D1B;background-color:#36A9E1;padding:10px 20px}
.subform .controller{border:solid 1px #1B1B1D;height:260px;overflow:auto}
.subform table{background-color:#B2B2B2}
.subform th{background-color:#D7E8F9;padding:5px 10px}
.subform td{background-color:#FFFFFF;padding:5px 10px}
.subform .toolbar{padding:10px 20px;background-color:#D7E8F9}

.message{color:#FF1B1D}

.upload table{background-color:transparent}
.upload td{padding:0 5px}
.upload .control{position:absolute;left:-9999px;top:-9999px}
.upload iframe{position:absolute;left:-9999px;top:-9999px}
.upload .progressbar{border:solid 1px #1B1B1D;display:inline-block;width:300px;height:5px}
.upload .progress{display:inline-block;height:100%;background-color:#FF90A9}