@charset "utf-8";
/* 網頁大小,字體大小對齊設定 */
body {
	width: 1024;
	height:768;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	text-align:center;
	font-size:12px;
    font-family:"微軟正黑體", Arial;
    color:#000000;
}
	/* 去邊框 */
.clean {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
	/* banner設定 */
#banner{
	width:auto;
	height:149px;
	text-align:center;
	}
	
	/* banner重複 */
#banner_r{
	background:url(../../images/n_istudy/banner_02.png);
	width:100%;
	height:149px;
	}
	/* 內容_設定 */
#body_Login{
	width:auto;
	height:534px;
	text-align:center;
	}
	/* 內容_右邊說明重複 */
#body_right_r{
	width:50%;
	height:534px;
	background:#3489ca;
	}
	/* Login_文字框設定 */
#login_number{
	width:269px;
	height:43px;
	background:url(../../images/n_istudy/L_number_02.png);
	text-align:center;
	}
	/* footer設定 */
#footer{
	width:auto;
	height:85px;
	text-align:center;
	}
	/* footer重複 */
#footer_r{
	width:50%;
	height:85px;
	background:url(../../images/n_istudy/footer_r.png);
	}
	/* 登入按鈕_背景 */
#button_bg{
	width:636px;
	height:190px;
	background:url(../../images/n_istudy/L_03_top.png);
	text-align:center;
	}
	/* 系統總覽中間白色_背景 */
#system_bg{
	width:100%;
	height:474px;
	background:#FFFFFF;
	text-align:center;
	}
	/*按鈕重複 */
#bt_r{
	width:100%;
	height:60px;
	background:url(../../images/n_istudy/btw_07.png)
	}
	/* 管理xx中間白色_背景 */
#Management_bg{
	width:100%;
	height:414px;
	background:#FFFFFF;
	}
	/* 管理xx標題重複 */
#title_r{
	width:100%;
	height:60px;
	background:#FFFFFF;
	}
.menu{background-color:#36A9E1}
.main{}
