﻿@charset "utf-8";
/* 網頁大小,字體大小對齊設定 */
body {
	width: 1024;
	height:768;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	font-size:12px;
    font-family:"微軟正黑體", Arial;
    color:#000000;
}
	/* 去邊框 */
.clean {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
	/* banner設定 */
#banner{
	width:auto;
	height:149px;
	text-align:center;
	}
	
	/* banner重複 */
#banner_r{
	background:url(../images/n_istudy/login/banner_02.png);
	width:100%;
	height:149px;
	}
	/* 內容_設定 */
#body_Login{
	width:auto;
	height:534px;
	text-align:center;
	}
	/* 內容_右邊說明重複 */
#body_right_r{
	width:50%;
	height:534px;
	background:#3489ca;
	}
	/* Login_文字框設定 */
#login_number{
	width:269px;
	height:43px;
	background:url(../images/n_istudy/login/L_number_02.png);
	text-align:center;
	}
	/* footer設定 */
#footer{
	width:auto;
	height:85px;
	text-align:center;
	}
	/* footer重複 */
#footer_r{
	width:50%;
	height:85px;
	background:url(../images/n_istudy/login/footer_r.png);
	}
#button_bg{
	width:636px;
	height:190px;
	background:url(../images/n_istudy/login/L_03_top.png);
	text-align:center;
	}
	
.main{background-color:#D7E8F9;border:solid 1px #1D1D1B;min-height:425px}
.main .login{width:685px;height:385px;margin:0 auto;padding:40px 0;background-image:url(../images/login.gif);background-position:center center;background-repeat:no-repeat}
.main .login form{margin-left:410px;margin-top:80px}
.main .login .message{font-size:16px;margin-top:15px;color:#FFFFFF}
.main .title{color:#1D1D1B;background-color:#C6C6C6;font-size:24px;padding:10px 20px}

.main .gridview table{width:100%;color:#1D1D1B;background-color:#B3B3B3;border:solid 1px #1D1D1B}
.main .gridview th,.main .gridview td{font-size:12px;padding:5px}
.main .gridview th{background-color:#E6E6E6;text-align:center}
.main .gridview td{background-color:#FFFFFF}

.main .summary-wrapper{background-color:#EBEBF7;padding:20px}
.main .summary{width:685px;height:385px;background-image:url(../images/welcome.gif);margin:0 auto}
.main .summary .title{color:#FFFFFF;background-color:transparent;font-weight:bold;font-size:20px;margin-left:210px;padding-top:43px}
.main .summary .description{font-size:16px;margin-left:250px}

.main .group-wrapper .title{background-image:url(../images/table_2.gif);background-repeat:no-repeat;height:65px;padding:0}
.main .student-wrapper .title{background-image:url(../images/table_3.gif);background-repeat:no-repeat;height:65px;padding:0}
.main .file-wrapper .title{background-image:url(../images/table_4.gif);background-repeat:no-repeat;height:65px;padding:0}
.main .course-wrapper .title{background-image:url(../images/table_5.gif);background-repeat:no-repeat;height:65px;padding:0}
