﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:148px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:148px;
}
#u1 {
  position:absolute;
  left:2px;
  top:66px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:358px;
  width:1080px;
  height:698px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:698px;
}
#u3 {
  position:absolute;
  left:2px;
  top:341px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u5 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u7_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:110px;
  top:290px;
  width:200px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29_input {
  font-family:'應用字體';
}
#u30 {
  position:absolute;
  left:330px;
  top:290px;
  width:50px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30_input {
  font-family:'應用字體';
}
#u31 {
  position:absolute;
  left:790px;
  top:375px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31_input {
  font-family:'應用字體';
}
#u32 {
  position:absolute;
  left:920px;
  top:375px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32_input {
  font-family:'應用字體';
}
#u33 {
  position:absolute;
  left:790px;
  top:425px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33_input {
  font-family:'應用字體';
}
#u34 {
  position:absolute;
  left:920px;
  top:425px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34_input {
  font-family:'應用字體';
}
#u35 {
  position:absolute;
  left:790px;
  top:480px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35_input {
  font-family:'應用字體';
}
#u36 {
  position:absolute;
  left:920px;
  top:480px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'應用字體';
}
#u37 {
  position:absolute;
  left:790px;
  top:530px;
  width:100px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'應用字體';
}
#u38 {
  position:absolute;
  left:920px;
  top:530px;
  width:100px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'應用字體';
}
#u39 {
  position:absolute;
  left:790px;
  top:590px;
  width:100px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39_input {
  font-family:'應用字體';
}
#u40 {
  position:absolute;
  left:920px;
  top:590px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40_input {
  font-family:'應用字體';
}
#u41 {
  position:absolute;
  left:790px;
  top:640px;
  width:100px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41_input {
  font-family:'應用字體';
}
#u42 {
  position:absolute;
  left:920px;
  top:640px;
  width:100px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42_input {
  font-family:'應用字體';
}
#u43 {
  position:absolute;
  left:790px;
  top:695px;
  width:100px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43_input {
  font-family:'應用字體';
}
#u44 {
  position:absolute;
  left:920px;
  top:695px;
  width:100px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44_input {
  font-family:'應用字體';
}
#u45 {
  position:absolute;
  left:790px;
  top:745px;
  width:100px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45_input {
  font-family:'應用字體';
}
#u46 {
  position:absolute;
  left:920px;
  top:745px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'應用字體';
}
#u47 {
  position:absolute;
  left:790px;
  top:800px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'應用字體';
}
#u48 {
  position:absolute;
  left:920px;
  top:800px;
  width:100px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48_input {
  font-family:'應用字體';
}
#u49 {
  position:absolute;
  left:790px;
  top:855px;
  width:100px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49_input {
  font-family:'應用字體';
}
#u50 {
  position:absolute;
  left:920px;
  top:855px;
  width:100px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50_input {
  font-family:'應用字體';
}
#u51 {
  position:absolute;
  left:790px;
  top:910px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51_input {
  font-family:'應用字體';
}
#u52 {
  position:absolute;
  left:920px;
  top:910px;
  width:100px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52_input {
  font-family:'應用字體';
}
#u53 {
  position:absolute;
  left:790px;
  top:960px;
  width:100px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53_input {
  font-family:'應用字體';
}
#u54 {
  position:absolute;
  left:920px;
  top:960px;
  width:100px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54_input {
  font-family:'應用字體';
}
#u55 {
  position:absolute;
  left:790px;
  top:1015px;
  width:100px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55_input {
  font-family:'應用字體';
}
#u56 {
  position:absolute;
  left:920px;
  top:1015px;
  width:100px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56_input {
  font-family:'應用字體';
}
#u57 {
  position:absolute;
  left:0px;
  top:1056px;
  width:1080px;
  height:94px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
}
#u58 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:243px;
  top:220px;
  width:647px;
  height:625px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:625px;
}
#u60 {
  position:absolute;
  left:2px;
  top:304px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:235px;
  top:210px;
  width:647px;
  height:625px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:625px;
}
#u62 {
  position:absolute;
  left:2px;
  top:304px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:235px;
  top:210px;
  width:647px;
  height:46px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:46px;
}
#u64 {
  position:absolute;
  left:2px;
  top:15px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:248px;
  top:223px;
  width:529px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#333333;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:33px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:793px;
  top:223px;
  width:76px;
  height:24px;
  font-size:20px;
  text-decoration:underline;
  color:#004080;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:773px;
  top:790px;
  width:87px;
  height:31px;
  font-size:20px;
  color:#333333;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:239px;
  top:770px;
  width:643px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:626px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:643px;
  height:1px;
}
#u72 {
  position:absolute;
  left:678px;
  top:790px;
  width:85px;
  height:31px;
  font-size:20px;
  color:#333333;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:258px;
  top:268px;
  width:605px;
  height:40px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  font-size:20px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:72px;
  top:0px;
  width:202px;
  height:35px;
  font-size:20px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:198px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:274px;
  top:0px;
  width:100px;
  height:35px;
  font-size:20px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:374px;
  top:0px;
  width:226px;
  height:35px;
  font-size:20px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:639px;
  top:273px;
  width:211px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u83_input {
  font-family:'應用字體';
}
#u84 {
  position:absolute;
  left:258px;
  top:303px;
  width:600px;
  height:467px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:467px;
}
#u85 {
  position:absolute;
  left:2px;
  top:226px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:258px;
  top:313px;
  width:273px;
  height:231px;
  overflow:hidden;
}
#u86_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:190px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u89_input {
  font-family:'應用字體';
}
#u90 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u90_input {
  font-family:'應用字體';
}
#u91 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:231px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:190px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u95_input {
  font-family:'應用字體';
}
#u96 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u98_input {
  font-family:'應用字體';
}
#u99 {
  position:absolute;
  left:585px;
  top:314px;
  width:273px;
  height:231px;
  overflow:hidden;
}
#u99_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:190px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u102_input {
  font-family:'應用字體';
}
#u103 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u103_input {
  font-family:'應用字體';
}
#u104 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u105 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:231px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:43px;
  width:270px;
  height:187px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:187px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u108_input {
  font-family:'應用字體';
}
#u109 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u109_input {
  font-family:'應用字體';
}
#u110 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:538px;
  top:391px;
  width:41px;
  height:31px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:538px;
  top:439px;
  width:41px;
  height:31px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
}
#u115 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:258px;
  top:555px;
  width:274px;
  height:204px;
  overflow:hidden;
}
#u116_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:160px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u119_input {
  font-family:'應用字體';
}
#u120 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u120_input {
  font-family:'應用字體';
}
#u121 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:204px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:160px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u125_input {
  font-family:'應用字體';
}
#u126 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u126_input {
  font-family:'應用字體';
}
#u127 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:584px;
  top:556px;
  width:274px;
  height:204px;
  overflow:hidden;
}
#u129_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:160px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u132_input {
  font-family:'應用字體';
}
#u133 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u133_input {
  font-family:'應用字體';
}
#u134 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u135 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:204px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u137 {
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:0px;
  top:40px;
  width:270px;
  height:160px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u138_input {
  font-family:'應用字體';
}
#u139 {
  position:absolute;
  left:120px;
  top:8px;
  width:100px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u139_input {
  font-family:'應用字體';
}
#u140 {
  position:absolute;
  left:230px;
  top:8px;
  width:32px;
  height:32px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u141 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:538px;
  top:625px;
  width:41px;
  height:28px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u143 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:538px;
  top:665px;
  width:41px;
  height:28px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u145 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
