﻿body{background:rgb(197,204,211) url(stripes.png);font-family:Helvetica;margin:0 0 0 10px;padding:0;-webkit-user-select:none;-webkit-text-size-adjust:none}
div#header + h1, ul + h1{color:rgb(76,86,108);font:bold 18px Helvetica;text-shadow:#fff 0 1px 0;margin:15px 0 0 10px}
div#header{background:rgb(109,133,163) url(bgHeader.png) repeat-x top;border-top:1px solid rgb(205,213,223);border-bottom:1px solid rgb(46,55,68);padding:10px;margin:0 0 0 -10px;min-height:44px;-webkit-box-sizing:border-box}
div#header h1{color:#fff;font:bold 20px/30px Helvetica;text-shadow:#2d3642 0 -1px 0;text-align:center;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:49%;padding:5px 0;margin:2px 0 0 -24%;position:absolute;top:0;left:50%}
div#header h1 #quiz_index{font-size:70%;color:#FFC9C9;margin-left:10px}
div#header a.left_button{color:#FFF;background:none;font:bold 12px/30px Helvetica;border-width:0 5px;margin:0;padding:0 3px;width:auto;height:30px;text-shadow:rgb(46,55,68) 0 -1px 0;text-overflow:ellipsis;text-decoration:none;white-space:nowrap;position:absolute;overflow:hidden;top:7px;left:6px;-webkit-border-image:url(toolButton.png) 0 5 0 5}
div#header a.right_button{color:#FFF;background:none;font:bold 12px/30px Helvetica;border-width:0 5px;margin:0;padding:0 3px;width:auto;height:30px;text-shadow:rgb(46,55,68) 0 -1px 0;text-overflow:ellipsis;text-decoration:none;white-space:nowrap;position:absolute;overflow:hidden;top:7px;right:6px;-webkit-border-image:url(toolButton.png) 0 5 0 5}

#controls{margin:15px 10px 17px 0;text-align:center;white-space:nowrap;font-size:12px/24px Helvetica}
#controls a.button{display:inline-block;font:bold 12px/32px Helvetica}
#quiz_index{margin:0 5px}
#controls2{margin:15px 10px 17px 0;text-align:center;white-space:nowrap;font-size:12px/24px Helvetica}
#controls2 a.button{display:inline-block;font:bold 12px/32px Helvetica}
#quiz_index2{margin:0 5px}

ul{color:black;background:#fff;border:1px solid #B4B4B4;font:bold 17px Helvetica;padding:0;margin:15px 10px 17px 0;-webkit-border-radius:8px}
ul li{color:#666;border-top:1px solid #B4B4B4;list-style-type:none;padding:10px 10px 10px 10px}
li:first-child{border-top:0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px}
li:last-child{-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px}

#bubbles a{display:inline-block;margin-right:5px}
#bubbles li{list-style-type:decimal;margin-left:48px}
#bubbles2 a{display:inline-block;margin-right:5px}
#bubbles2 li{list-style-type:decimal;margin-left:48px}
.button{color:#fff;font:bold 20px/46px Helvetica;text-decoration:none;text-align:center;text-shadow:#000 0 1px 0;border-width:0px 14px 0px 14px;display:block;margin:3px 0}
.green{-webkit-border-image:url(greenButton.png) 0 14 0 14}
.red{-webkit-border-image:url(redButton.png) 0 14 0 14}
.white{color:#000;text-shadow:#fff 0px 1px 0;-webkit-border-image:url(whiteButton.png) 0 14 0 14}
.black{-webkit-border-image:url(grayButton.png) 0 14 0 14}
.blue{-webkit-border-image:url(blueButton.png) 0 14 0 14}

#quiz{margin:0 17px 17px 0}
#quiz iframe{width:100%;background:#fff;-webkit-border-radius:8px}

#footer{text-align:center;margin-bottom:20px}
#done2{display:inline-block}