﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u1 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:720px;
  width:1080px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:318px;
  top:220px;
  width:443px;
  height:370px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:370px;
}
#u5 {
  position:absolute;
  left:2px;
  top:177px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:412px;
  top:317px;
  width:80px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:482px;
  top:320px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8_input {
  font-family:'應用字體';
}
#u9 {
  position:absolute;
  left:482px;
  top:385px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9_input {
  font-family:'應用字體';
}
#u10 {
  position:absolute;
  left:482px;
  top:450px;
  width:200px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10_input {
  font-family:'應用字體';
}
#u11 {
  position:absolute;
  left:380px;
  top:252px;
  width:323px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:412px;
  top:385px;
  width:80px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:364px;
  top:450px;
  width:128px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:592px;
  top:520px;
  width:100px;
  height:25px;
  font-size:16px;
  color:#333333;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:442px;
  top:520px;
  width:100px;
  height:25px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-size:16px;
  color:#AE5300;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
