﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u1 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1086px;
  width:1080px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u5_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:171px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:171px;
}
#u28 {
  position:absolute;
  left:2px;
  top:78px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:381px;
  width:1080px;
  height:705px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:705px;
}
#u30 {
  position:absolute;
  left:2px;
  top:344px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:67px;
  top:280px;
  width:153px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31_input {
  font-family:'應用字體';
}
#u32 {
  position:absolute;
  left:67px;
  top:315px;
  width:153px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32_input {
  font-family:'應用字體';
}
#u33 {
  position:absolute;
  left:330px;
  top:280px;
  width:153px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33_input {
  font-family:'應用字體';
}
#u34 {
  position:absolute;
  left:330px;
  top:315px;
  width:153px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34_input {
  font-family:'應用字體';
}
#u35 {
  position:absolute;
  left:510px;
  top:295px;
  width:60px;
  height:30px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35_input {
  font-family:'應用字體';
}
#u36 {
  position:absolute;
  left:650px;
  top:295px;
  width:110px;
  height:30px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'應用字體';
}
#u37 {
  position:absolute;
  left:865px;
  top:390px;
  width:90px;
  height:30px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'應用字體';
}
#u38 {
  position:absolute;
  left:965px;
  top:390px;
  width:40px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'應用字體';
}
#u39 {
  position:absolute;
  left:1015px;
  top:390px;
  width:40px;
  height:30px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39_input {
  font-family:'應用字體';
}
#u40 {
  position:absolute;
  left:865px;
  top:446px;
  width:90px;
  height:30px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40_input {
  font-family:'應用字體';
}
#u41 {
  position:absolute;
  left:965px;
  top:446px;
  width:40px;
  height:30px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41_input {
  font-family:'應用字體';
}
#u42 {
  position:absolute;
  left:1015px;
  top:446px;
  width:40px;
  height:30px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42_input {
  font-family:'應用字體';
}
#u43 {
  position:absolute;
  left:865px;
  top:500px;
  width:90px;
  height:30px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43_input {
  font-family:'應用字體';
}
#u44 {
  position:absolute;
  left:965px;
  top:500px;
  width:40px;
  height:30px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44_input {
  font-family:'應用字體';
}
#u45 {
  position:absolute;
  left:1015px;
  top:500px;
  width:40px;
  height:30px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45_input {
  font-family:'應用字體';
}
#u46 {
  position:absolute;
  left:865px;
  top:554px;
  width:90px;
  height:30px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'應用字體';
}
#u47 {
  position:absolute;
  left:965px;
  top:554px;
  width:40px;
  height:30px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'應用字體';
}
#u48 {
  position:absolute;
  left:1015px;
  top:554px;
  width:40px;
  height:30px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48_input {
  font-family:'應用字體';
}
#u49 {
  position:absolute;
  left:865px;
  top:610px;
  width:90px;
  height:30px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49_input {
  font-family:'應用字體';
}
#u50 {
  position:absolute;
  left:965px;
  top:610px;
  width:40px;
  height:30px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50_input {
  font-family:'應用字體';
}
#u51 {
  position:absolute;
  left:1015px;
  top:610px;
  width:40px;
  height:30px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51_input {
  font-family:'應用字體';
}
#u52 {
  position:absolute;
  left:865px;
  top:664px;
  width:90px;
  height:30px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52_input {
  font-family:'應用字體';
}
#u53 {
  position:absolute;
  left:965px;
  top:664px;
  width:40px;
  height:30px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53_input {
  font-family:'應用字體';
}
#u54 {
  position:absolute;
  left:1015px;
  top:664px;
  width:40px;
  height:30px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54_input {
  font-family:'應用字體';
}
#u55 {
  position:absolute;
  left:865px;
  top:720px;
  width:90px;
  height:30px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55_input {
  font-family:'應用字體';
}
#u56 {
  position:absolute;
  left:965px;
  top:720px;
  width:40px;
  height:30px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56_input {
  font-family:'應用字體';
}
#u57 {
  position:absolute;
  left:1015px;
  top:720px;
  width:40px;
  height:30px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u57_input {
  font-family:'應用字體';
}
#u58 {
  position:absolute;
  left:865px;
  top:775px;
  width:90px;
  height:30px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u58_input {
  font-family:'應用字體';
}
#u59 {
  position:absolute;
  left:965px;
  top:775px;
  width:40px;
  height:30px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59_input {
  font-family:'應用字體';
}
#u60 {
  position:absolute;
  left:1015px;
  top:775px;
  width:40px;
  height:30px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u60_input {
  font-family:'應用字體';
}
#u61 {
  position:absolute;
  left:865px;
  top:830px;
  width:90px;
  height:30px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u61_input {
  font-family:'應用字體';
}
#u62 {
  position:absolute;
  left:965px;
  top:830px;
  width:40px;
  height:30px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62_input {
  font-family:'應用字體';
}
#u63 {
  position:absolute;
  left:1015px;
  top:830px;
  width:40px;
  height:30px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u63_input {
  font-family:'應用字體';
}
#u64 {
  position:absolute;
  left:865px;
  top:940px;
  width:90px;
  height:30px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u64_input {
  font-family:'應用字體';
}
#u65 {
  position:absolute;
  left:965px;
  top:940px;
  width:40px;
  height:30px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65_input {
  font-family:'應用字體';
}
#u66 {
  position:absolute;
  left:1015px;
  top:940px;
  width:40px;
  height:30px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u66_input {
  font-family:'應用字體';
}
#u67 {
  position:absolute;
  left:865px;
  top:884px;
  width:90px;
  height:30px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u67_input {
  font-family:'應用字體';
}
#u68 {
  position:absolute;
  left:965px;
  top:884px;
  width:40px;
  height:30px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68_input {
  font-family:'應用字體';
}
#u69 {
  position:absolute;
  left:1015px;
  top:884px;
  width:40px;
  height:30px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69_input {
  font-family:'應用字體';
}
#u70 {
  position:absolute;
  left:865px;
  top:994px;
  width:90px;
  height:30px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70_input {
  font-family:'應用字體';
}
#u71 {
  position:absolute;
  left:965px;
  top:994px;
  width:40px;
  height:30px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u71_input {
  font-family:'應用字體';
}
#u72 {
  position:absolute;
  left:1015px;
  top:994px;
  width:40px;
  height:30px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u72_input {
  font-family:'應用字體';
}
#u73 {
  position:absolute;
  left:865px;
  top:1050px;
  width:90px;
  height:30px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u73_input {
  font-family:'應用字體';
}
#u74 {
  position:absolute;
  left:965px;
  top:1050px;
  width:40px;
  height:30px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u74_input {
  font-family:'應用字體';
}
#u75 {
  position:absolute;
  left:1015px;
  top:1050px;
  width:40px;
  height:30px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u75_input {
  font-family:'應用字體';
}
#u76 {
  position:absolute;
  left:580px;
  top:295px;
  width:60px;
  height:30px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u76_input {
  font-family:'應用字體';
}
#u77 {
  position:absolute;
  left:10px;
  top:1080px;
  width:1070px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1070px;
  height:1px;
}
#u78 {
  position:absolute;
  left:233px;
  top:417px;
  width:622px;
  height:453px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:453px;
}
#u79 {
  position:absolute;
  left:2px;
  top:218px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:225px;
  top:409px;
  width:622px;
  height:453px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:453px;
}
#u81 {
  position:absolute;
  left:2px;
  top:218px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:225px;
  top:409px;
  width:622px;
  height:45px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:45px;
}
#u83 {
  position:absolute;
  left:2px;
  top:14px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:237px;
  top:422px;
  width:509px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#333333;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:24px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:761px;
  top:422px;
  width:74px;
  height:24px;
  font-size:20px;
  text-decoration:underline;
  color:#004080;
  text-align:right;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:714px;
  top:809px;
  width:116px;
  height:37px;
  font-size:14px;
  color:#333333;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:227px;
  top:786px;
  width:620px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u91 {
  position:absolute;
  left:254px;
  top:480px;
  width:585px;
  height:281px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:62px;
}
#u93 {
  position:absolute;
  left:2px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:104px;
  top:0px;
  width:186px;
  height:62px;
  font-size:20px;
  color:#000000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:62px;
}
#u95 {
  position:absolute;
  left:2px;
  top:23px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:290px;
  top:0px;
  width:99px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:62px;
}
#u97 {
  position:absolute;
  left:2px;
  top:19px;
  width:95px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:389px;
  top:0px;
  width:191px;
  height:62px;
  font-size:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:62px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:62px;
  width:104px;
  height:74px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:74px;
}
#u101 {
  position:absolute;
  left:2px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:104px;
  top:62px;
  width:186px;
  height:74px;
  font-size:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:74px;
}
#u103 {
  position:absolute;
  left:2px;
  top:25px;
  width:182px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:290px;
  top:62px;
  width:99px;
  height:74px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:74px;
}
#u105 {
  position:absolute;
  left:2px;
  top:25px;
  width:95px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:389px;
  top:62px;
  width:191px;
  height:74px;
  font-size:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:74px;
}
#u107 {
  position:absolute;
  left:2px;
  top:25px;
  width:187px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:136px;
  width:104px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:70px;
}
#u109 {
  position:absolute;
  left:2px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:104px;
  top:136px;
  width:186px;
  height:70px;
  font-size:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:70px;
}
#u111 {
  position:absolute;
  left:2px;
  top:27px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:290px;
  top:136px;
  width:99px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:70px;
}
#u113 {
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:389px;
  top:136px;
  width:191px;
  height:70px;
  font-size:20px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:70px;
}
#u115 {
  position:absolute;
  left:2px;
  top:23px;
  width:187px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:206px;
  width:104px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:70px;
}
#u117 {
  position:absolute;
  left:2px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:104px;
  top:206px;
  width:186px;
  height:70px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:70px;
}
#u119 {
  position:absolute;
  left:2px;
  top:27px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:290px;
  top:206px;
  width:99px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:70px;
}
#u121 {
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:389px;
  top:206px;
  width:191px;
  height:70px;
  font-size:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:70px;
}
#u123 {
  position:absolute;
  left:2px;
  top:23px;
  width:187px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:370px;
  top:710px;
  width:170px;
  height:25px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u124_input {
  font-family:'應用字體';
}
#u125 {
  position:absolute;
  left:370px;
  top:640px;
  width:170px;
  height:25px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u125_input {
  font-family:'應用字體';
}
#u126 {
  position:absolute;
  left:650px;
  top:500px;
  width:172px;
  height:25px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u126_input {
  font-family:'應用字體';
}
#u127 {
  position:absolute;
  left:360px;
  top:502px;
  width:172px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u127_input {
  font-family:'應用字體';
}
