.modal .title{padding: .2em 1em; background-color:#33a;color:#fff;font-size:18px;border-bottom:solid 1px #333}
.modal .controller{background-color:#fff;padding:10px}
.modal .controller div{padding-bottom:4px}
.modal .toolbar{padding: .2em 1em;background-color:#66a;border-top:solid 2px #333;border-bottom:solid 1px #333}
.modal .toolbar li{display:inline;padding:0 1em}