﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u1 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1032px;
  width:1080px;
  height:94px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
}
#u3 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:145px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
}
#u5 {
  position:absolute;
  left:2px;
  top:64px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:355px;
  width:1080px;
  height:52px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:52px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:328px;
  width:20px;
  height:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:20px;
  top:368px;
  width:20px;
  height:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:531px;
  top:284px;
  width:36px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12_input {
  font-family:'應用字體';
}
#u13 {
  position:absolute;
  left:395px;
  top:284px;
  width:36px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13_input {
  font-family:'應用字體';
}
#u14 {
  position:absolute;
  left:349px;
  top:284px;
  width:36px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14_input {
  font-family:'應用字體';
}
#u15 {
  position:absolute;
  left:439px;
  top:284px;
  width:36px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15_input {
  font-family:'應用字體';
}
#u16 {
  position:absolute;
  left:485px;
  top:284px;
  width:36px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16_input {
  font-family:'應用字體';
}
#u17 {
  position:absolute;
  left:181px;
  top:284px;
  width:160px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17_input {
  font-family:'應用字體';
}
#u18 {
  position:absolute;
  left:20px;
  top:284px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
