﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:148px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:148px;
}
#u1 {
  position:absolute;
  left:2px;
  top:66px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:358px;
  width:1080px;
  height:644px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:644px;
}
#u3 {
  position:absolute;
  left:2px;
  top:314px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u5 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u7_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:110px;
  top:290px;
  width:200px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29_input {
  font-family:'應用字體';
}
#u30 {
  position:absolute;
  left:330px;
  top:290px;
  width:50px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30_input {
  font-family:'應用字體';
}
#u31 {
  position:absolute;
  left:790px;
  top:375px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31_input {
  font-family:'應用字體';
}
#u32 {
  position:absolute;
  left:920px;
  top:375px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32_input {
  font-family:'應用字體';
}
#u33 {
  position:absolute;
  left:790px;
  top:425px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33_input {
  font-family:'應用字體';
}
#u34 {
  position:absolute;
  left:920px;
  top:425px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34_input {
  font-family:'應用字體';
}
#u35 {
  position:absolute;
  left:790px;
  top:480px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35_input {
  font-family:'應用字體';
}
#u36 {
  position:absolute;
  left:920px;
  top:480px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'應用字體';
}
#u37 {
  position:absolute;
  left:790px;
  top:530px;
  width:100px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'應用字體';
}
#u38 {
  position:absolute;
  left:920px;
  top:530px;
  width:100px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'應用字體';
}
#u39 {
  position:absolute;
  left:790px;
  top:590px;
  width:100px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39_input {
  font-family:'應用字體';
}
#u40 {
  position:absolute;
  left:920px;
  top:590px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40_input {
  font-family:'應用字體';
}
#u41 {
  position:absolute;
  left:790px;
  top:640px;
  width:100px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41_input {
  font-family:'應用字體';
}
#u42 {
  position:absolute;
  left:920px;
  top:640px;
  width:100px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42_input {
  font-family:'應用字體';
}
#u43 {
  position:absolute;
  left:790px;
  top:695px;
  width:100px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43_input {
  font-family:'應用字體';
}
#u44 {
  position:absolute;
  left:920px;
  top:695px;
  width:100px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44_input {
  font-family:'應用字體';
}
#u45 {
  position:absolute;
  left:790px;
  top:745px;
  width:100px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45_input {
  font-family:'應用字體';
}
#u46 {
  position:absolute;
  left:920px;
  top:745px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'應用字體';
}
#u47 {
  position:absolute;
  left:790px;
  top:800px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47_input {
  font-family:'應用字體';
}
#u48 {
  position:absolute;
  left:920px;
  top:800px;
  width:100px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48_input {
  font-family:'應用字體';
}
#u49 {
  position:absolute;
  left:790px;
  top:855px;
  width:100px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49_input {
  font-family:'應用字體';
}
#u50 {
  position:absolute;
  left:920px;
  top:855px;
  width:100px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50_input {
  font-family:'應用字體';
}
#u51 {
  position:absolute;
  left:790px;
  top:910px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51_input {
  font-family:'應用字體';
}
#u52 {
  position:absolute;
  left:920px;
  top:910px;
  width:100px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u52_input {
  font-family:'應用字體';
}
#u53 {
  position:absolute;
  left:790px;
  top:960px;
  width:100px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u53_input {
  font-family:'應用字體';
}
#u54 {
  position:absolute;
  left:920px;
  top:960px;
  width:100px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54_input {
  font-family:'應用字體';
}
#u55 {
  position:absolute;
  left:0px;
  top:1002px;
  width:1080px;
  height:94px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:94px;
}
#u56 {
  position:absolute;
  left:2px;
  top:39px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
