﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:14px;
  top:350px;
  width:1056px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:156px;
}
#u3 {
  position:absolute;
  left:2px;
  top:70px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:1140px;
  width:1080px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:156px;
  width:1080px;
  height:54px;
}
#u7_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1086px;
  height:60px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:850px;
  top:0px;
  width:130px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:980px;
  top:0px;
  width:100px;
  height:54px;
  font-size:18px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:210px;
  width:1080px;
  height:133px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:133px;
}
#u30 {
  position:absolute;
  left:2px;
  top:58px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:67px;
  top:280px;
  width:153px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31_input {
  font-family:'應用字體';
}
#u32 {
  position:absolute;
  left:67px;
  top:315px;
  width:153px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32_input {
  font-family:'應用字體';
}
#u33 {
  position:absolute;
  left:330px;
  top:280px;
  width:153px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33_input {
  font-family:'應用字體';
}
#u34 {
  position:absolute;
  left:330px;
  top:315px;
  width:153px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34_input {
  font-family:'應用字體';
}
#u35 {
  position:absolute;
  left:865px;
  top:390px;
  width:90px;
  height:30px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35_input {
  font-family:'應用字體';
}
#u36 {
  position:absolute;
  left:965px;
  top:390px;
  width:40px;
  height:30px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36_input {
  font-family:'應用字體';
}
#u37 {
  position:absolute;
  left:1015px;
  top:390px;
  width:40px;
  height:30px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37_input {
  font-family:'應用字體';
}
#u38 {
  position:absolute;
  left:510px;
  top:295px;
  width:60px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38_input {
  font-family:'應用字體';
}
#u39 {
  position:absolute;
  left:650px;
  top:295px;
  width:110px;
  height:30px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39_input {
  font-family:'應用字體';
}
#u40 {
  position:absolute;
  left:580px;
  top:295px;
  width:60px;
  height:30px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40_input {
  font-family:'應用字體';
}
#u41 {
  position:absolute;
  left:67px;
  top:220px;
  width:143px;
  height:30px;
  font-size:28px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
