﻿html,body,form,ul,p{margin:0;padding:0}
a{text-decoration:none;color:#330000}
a:hover{text-decoration:underline;color:#3300ff}
img{border:0;margin:0;padding:0}

body{overflow:auto;height:100%;font-size:11px;color:#666666;text-align:center;font-family:微軟正黑體,verdana,arial,serif;background-color:#EBEBF7;margin:0px}
#wrapper{text-align:left;margin:0 auto}
#header,#menu,#main,#footer{background-color:#EBEBF7;margin-bottom:4px;border-left:solid 1px #999999;;border-top:solid 1px #999999;border-bottom:solid 0px #663399;border-right:solid 0px #663399}

.nonfloating{clear:both}
.banner{text-align:center;height:100px;white-space:nowrap;background-image:url(../images/banner_03.gif);background-repeat:repeat-x;margin:0 15px}
.banner .item{height:100px;display:inline-block}
.banner .left{width:15px;margin-left:-15px;float:left;background-image:url(../images/banner_01.gif)}
.banner .center{float:left}
.banner .right{width:15px;margin-right:-15px;float:right;background-image:url(../images/banner_04.gif)}
.banner .logo{float:left}
.banner .userinfo{float:right;margin-top:20px;margin-right:20px}

.menu{background-color:#36A9E1}
.menu ul{}
.menu li,.menu a{display:inline-block}
.menu a{text-align:center;color:#000;text-decoration:none;background-image:url(../images/0_1.gif);background-repeat:no-repeat;white-space:nowrap;font-family:微軟正黑體 新細明體 verdana arial serif;font-size:12px;font-weight:bold;padding:15px 0;width:104px;height:17px}
.menu a:hover{background-image:url(../images/0_2.gif)}
.menu a.selected{background-image:url(../images/0_3.gif)}

.controller{background-color:#FFFFFF;padding:5px 20px}

.main{background-color:#D7E8F9;border:solid 1px #1D1D1B;min-height:425px}
.main .login{width:685px;height:385px;margin:0 auto;padding:40px 0;background-image:url(../images/login.gif);background-position:center center;background-repeat:no-repeat}
.main .login form{margin-left:410px;margin-top:80px}
.main .login .message{font-size:16px;margin-top:15px;color:#FFFFFF}
.main .title{color:#1D1D1B;background-color:#C6C6C6;font-size:24px;padding:10px 20px}

.main .gridview table{width:100%;color:#1D1D1B;background-color:#B3B3B3;border:solid 1px #1D1D1B}
.main .gridview th,.main .gridview td{font-size:12px;padding:5px}
.main .gridview th{background-color:#E6E6E6;text-align:center}
.main .gridview td{background-color:#FFFFFF}

.main .summary-wrapper{background-color:#EBEBF7;padding:20px}
.main .summary{width:685px;height:385px;background-image:url(../images/welcome.gif);margin:0 auto}
.main .summary .title{color:#FFFFFF;background-color:transparent;font-weight:bold;font-size:20px;margin-left:210px;padding-top:43px}
.main .summary .description{font-size:16px;margin-left:250px}

.main .group-wrapper .title{background-image:url(../images/table_2.gif);background-repeat:no-repeat;height:65px;padding:0}
.main .student-wrapper .title{background-image:url(../images/table_3.gif);background-repeat:no-repeat;height:65px;padding:0}
.main .file-wrapper .title{background-image:url(../images/table_4.gif);background-repeat:no-repeat;height:65px;padding:0}
.main .course-wrapper .title{background-image:url(../images/table_5.gif);background-repeat:no-repeat;height:65px;padding:0}

.footer{text-align:center;height:100px;white-space:nowrap;background-image:url(../images/footer_04.gif);background-repeat:repeat-x;margin:0 195px 0 15px}
.footer .item{height:100px;display:inline-block}
.footer .left{width:15px;margin-left:-15px;float:left;background-image:url(../images/footer_01.gif)}
.footer .center{float:left}
.footer .right{width:195px;margin-right:-195px;float:right;background-image:url(../images/footer_05.gif)}
.footer .logo{float:left}
.footer .seperator{float:left}
.footer .description{font-size:10px;text-align:left;padding:15px}

.subform{width:800px;height:380px;text-align:left;border:solid 1px #1D1D1B;padding:5px;background-color:#FFFFFF}
.subform .title{font-size:20px;color:#1D1D1B;background-color:#36A9E1;padding:10px 20px}
.subform .controller{border:solid 1px #1B1B1D;height:280px;overflow:auto}
.subform table{background-color:#B2B2B2}
.subform th{background-color:#D7E8F9;padding:5px 10px}
.subform td{background-color:#FFFFFF;padding:5px 10px}
.subform .toolbar{padding:10px 20px;background-color:#D7E8F9}

.message{color:#FF1B1D}

.upload table{background-color:transparent}
.upload td{padding:0 5px}
.upload .control{position:absolute;left:-9999px;top:-9999px}
.upload iframe{position:absolute;left:-9999px;top:-9999px}
.upload .progressbar{border:solid 1px #1B1B1D;display:inline-block;width:300px;height:5px}
.upload .progress{display:inline-block;height:100%;background-color:#FF90A9}