﻿#courses_view table{border:solid 1px #333;border-collapse:collapse}
#courses_view th{padding:.2em 1em;text-align:center;background-color:#669;color:#fff;border:solid 1px #333;white-space:nowrap;font-size:16px}
#courses_view td{padding:.2em 1em;background-color:#99f;border:solid 1px #333;font-size:13px}
#courses_view tr.Leaf td{background-color:#ff9;font-size:10px}
#courses_view tr.Leaf td.date,#courses_view tr.Leaf td.numeric,#courses_view td.date,#courses_view td.numeric{text-align:center;text-indent:0;white-space:nowrap}

#courses_add{background-color:#fff;border:solid 1px black}
#courses_add  .title{padding: .2em 1em; background-color:#33a;color:#fff;font-size:18px;border-bottom:solid 1px #333}
#courses_add .toolbar{padding: .2em 1em;background-color:#66a;border-top:solid 2px #333;border-bottom:solid 1px #333}
#courses_add .toolbar li{display:inline;padding:0 1em}
#courses_add .real_file{position:absolute;filter:alpha(opacity=0);opacity:0}
#courses_add .progressbar_outer{width:300px;height:10px;border:solid 1px #339;background-color:#99f}
#courses_add .progressbar_inner{width:1px;height:10px;background-color:#339}
#courses_add_container{background-color:#fff;padding:10px;height:300px;overflow:auto}
#courses_add_container div{padding-bottom:4px}
#courses_add_message{color:#f99;font-size:16px}


#courses_assign .controller{padding:1em}
#courses_assign .controller label {text-align:left}
#courses_assign .controller table{width:95%}
#courses_assign .controller td{padding:.5em;text-align:left}

.modal .title{padding: .2em 1em; background-color:#33a;color:#fff;font-size:18px;border-bottom:solid 1px #333}
.modal .controller{background-color:#fff;padding:10px}
.modal .controller div{padding-bottom:4px}
.modal .toolbar{padding: .2em 1em;background-color:#66a;border-top:solid 2px #333;border-bottom:solid 1px #333}
.modal .toolbar li{display:inline;padding:0 1em}